.accordion {
    border-radius: 5px;
}

.btn {
    border-radius: 5px;
}
.add-btn, .minus-btn {
    margin-left: 10px;
    float: left;
}

.column {
    margin-top: 10px;
    /* border: 1px solid grey;
    padding: 5px;
    box-shadow: 1px 0px 2px 1px grey;
    border-radius: 5px; */
}

.modal-title {
    font-weight: Bold;
}

h6 {
    text-decoration: underline;
    font-weight: Bold;
}

.logo {
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.trade-modal-resource-btn {
    margin: 10px;
}

.reset-resources-btn, .show-rules-btn {
    color: white;
    padding: 5px;
}

.resource-function-btnDiv{
    margin-top: 10px;
    margin-bottom: 50px
}

.resource-quantity-lbl {
    width: 35%;
    float: right;
}

.rules-searchbar {
    width: 100%;
    border-radius: 5px;
    float: right;
    /* background-image: url('images/SearchIcon.png'); 
    background-position: 5px 5px;
    background-repeat: no-repeat; */
}

.rules-tbl {
    width: 100%; 
    text-align: center;
}

td, th {
    border: 1px solid #dddddd;
    padding: 5px !important;
  }

.trade-btn {
    float: right;
}